<div class="big-center">
  <br>
  <br>
  <div style="display: flex">
    <mat-icon style="margin-top: 4px; margin-right: 5px">arrow_back</mat-icon><p class="mat-headline-5">Hey look, that's me.</p>
  </div>
  <div>
    <p>So, I'm a full stack software developer. I specialize in answering the question,
      "Why do we never have time to do it right, but always have time to do it over?"

      I can do this with both the front end and back end. I'm most comfortable with Angular and Flask/Python. Java too,
      but I want it to be eaten by Kotlin.
    </p>
    <p>
      I got a full ride to Berea College. I'm a Spring 2023 graduate with a 3.6 GPA rounded down, and a 3.7 major GPA rounded up a bit.
      If we took the ceiling, I suppose I'd have a 4.0 GPA. I have a lengthy total computer science coursework as well.

      Classes include: Open-Source Software Engineering, Human Centered Computing, Data Structures, Database Systems, Software Design,
      Building Better Apps, Programming Languages, Game Design, Autonomous Robotics, and Networking.
    </p>
    <p>
      I was the first student to complete a Digital Media minor in a Fall semester, and the second student in Berea history
      to ever minor in Digital Media. The degree sounds fake sometimes, but it is not.
    </p>
    <p class="mat-headline-5">My hobbies</p>
    <mat-list style="padding: 0">
      <mat-list-item>
        <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
        <div matListItemTitle>
          Music Composition
        </div>
        <div matListItemLine>
          I played the violin+fiddle from age 7 to 17, performing competitively throughout.
        </div>
        <div matListItemLine>
          I love creating EDM music. I'm also on Spotify as Zach Neill!
        </div>
      </mat-list-item>
      <div style="position: fixed; right:1.5vw; bottom: -5vh">
        <iframe style="border:none"
                src="https://open.spotify.com/embed/artist/3mbmorBOJpVAPlGFEZ2B6h?utm_source=generator&theme=0"
                width="100%" height="200" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy">
        </iframe>
      </div>
      <mat-list-item>
        <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
        <div matListItemTitle>
          Chess
        </div>
        <div matListItemLine>
          I played in my first USCF tournament at age 9.
        </div>
        <div matListItemLine>
          You can find me on Chess.com as taflin, or set up a board and ask me.
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
        <div matListItemTitle>
          Hockey and Volleyball
        </div>
        <div matListItemLine>
          I first started hockey at 6, volleyball at 15.
        </div>
        <div matListItemLine>
          While I don't play anymore, I love watching hockey!
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
