<div class="big-center">
  <br>
  <br>
  <div style="text-align: center">
    <h3 class="mat-headline-5">In 2022, I interned for the National Information Solutions Cooperative (NISC).</h3>
    <h3>During the summer, I...</h3>
  </div>
  <mat-list style="padding: 0">
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Worked on a team developing a custom Angular 11 component library
      </div>
      <div matListItemLine>
        Now used by 55,000 professionals of $4.4 billion sales
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Developed Spring Boot endpoints from scratch
      </div>
      <div matListItemLine>
        Coded in Kotlin in a large-scale internal application
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Created Java unit tests and Angular end-to-end tests
      </div>
      <div matListItemLine>
        Using Mockito and Cypress with 100% code coverage
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Participated in an Agile environment
      </div>
      <div matListItemLine>
        Including all scrum meetings and stand-ups
      </div>
    </mat-list-item>
  </mat-list>
  <br>
  <mat-divider></mat-divider>
  <br>
  <br>
  <div style="text-align: center">
    <h3 class="mat-headline-5">At my 2021 internship, I was on Berea College's Dev Team.</h3>
    <h3>In my time there, I...</h3>
  </div>
  <mat-list style="padding: 0">
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Added the most lines of code (>4000) of any student
      </div>
      <div matListItemLine>
        Used across multiple school departments
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Worked using Agile methodologies and scrum
      </div>
      <div matListItemLine>
        With fully-featured pages and services in production, including the home page
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Provided Python / Flask web development
      </div>
      <div matListItemLine>
        Used by 2,300+ active users at CELTS-Link.berea.edu
      </div>
    </mat-list-item>
  </mat-list>
  <br>
  <mat-divider></mat-divider>
  <br>
  <br>
  <div style="text-align: center">
    <h3 class="mat-headline-5">From 2019-2023, I was on the IS&S Berea College IT Help Desk.</h3>
    <h3>Including a promotion to manager, I...</h3>
  </div>
  <mat-list style="padding: 0">
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Improved employee retention by 40%
      </div>
      <div matListItemLine>
        A stark increase since promotion to manager
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Led weekly presentations and meetings for 30+ IT employees
      </div>
      <div matListItemLine>
        Resulting in a 97% employee satisfaction rate
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Quickly resolved account and user software issues from students, faculty, and staff
      </div>
      <div matListItemLine>
        Preventing countless class and event delays or cancellations
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Supplied timely infrastructure, network, and cable repairs
      </div>
      <div matListItemLine>
        Replacements made under extreme pressure
      </div>
    </mat-list-item>
  </mat-list>
  <br>
  <mat-divider></mat-divider>
  <br>
  <br>
  <div style="text-align: center">
    <h3 class="mat-headline-5">Later in 2023, I became an Ed. Tech Support Associate for Berea College.</h3>
    <h3>While there, I...</h3>
  </div>
  <mat-list style="padding: 0">
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Redesigned front page for Hutchins Library at LibraryGuides.berea.edu
      </div>
      <div matListItemLine>
        Vastly improving mobile UX/UI
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Fully repaired/replaced old hardware dating back to 2012
      </div>
      <div matListItemLine>
        Saving $1000+ of new resources
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Performed institution-wide Active Directory operations
      </div>
      <div matListItemLine>
        Streamlining work output for 1500+ clients
      </div>
    </mat-list-item>
  </mat-list>
  <div style="text-align: center">
    <h3 class="mat-headline-5">And most recently, I became a Project Administrator for PNC Bank.</h3>
    <h3>In my time, I...</h3>
  </div>
  <mat-list style="padding: 0">
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Reduced project overspend by 50%
      </div>
      <div matListItemLine>
        Done by processing actuals and forecasting in Tableau
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Produced data analysis and presentations with Excel and PowerPoint
      </div>
      <div matListItemLine>
        Providing effective risk prevention
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Mitigated setbacks by contacting stakeholders and managing tasks
      </div>
      <div matListItemLine>
        Using the project management software Clarizen.
      </div>
    </mat-list-item>
  </mat-list>
</div>
