<div class="big-center">
  <br>
  <br>
  <div style="text-align: center">
    <h3 class="mat-headline-5">In 2022, I worked for the National Information Solutions Cooperative (NISC).</h3>
    <h3>While I was there, I...</h3>
  </div>
  <mat-list style="padding: 0">
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Improved their custom Angular 11 component library
      </div>
      <div matListItemLine>
        Now used by 55,000 professionals of $4.4 billion sales.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Built new Spring Boot endpoint functionality
      </div>
      <div matListItemLine>
       Coded from scratch in Kotlin for to-be released products.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Built tests with Mockito and Cypress
      </div>
      <div matListItemLine>
        Complete with 100% code coverage.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Participated in an Agile environment
      </div>
      <div matListItemLine>
        Including scrum meetings and stand-ups
      </div>
    </mat-list-item>
  </mat-list>
  <br>
  <mat-divider></mat-divider>
  <br>
  <br>
  <div style="text-align: center">
    <h3 class="mat-headline-5">Since 2021, I'm on Berea College's Dev Team.</h3>
    <h3>In my time there, I have...</h3>
  </div>
  <mat-list style="padding: 0">
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Added the most lines of code (>3000) of any student
      </div>
      <div matListItemLine>
        Full pages and services in production, including creating the home page.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Provided professional Python / Flask development
      </div>
      <div matListItemLine>
        Used by 2,300+ active users at CELTS-Link.berea.edu.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Developed in-depth knowledge over MVC and wireframes
      </div>
      <div matListItemLine>
        Full time in Summer 2021; part time in the school year.
      </div>
    </mat-list-item>
  </mat-list>
  <br>
  <mat-divider></mat-divider>
  <br>
  <br>
  <div style="text-align: center">
    <h3 class="mat-headline-5">Since 2019, I'm on Berea College's IT Help Desk.</h3>
    <h3>Including a promotion to manager, I...</h3>
  </div>
  <mat-list style="padding: 0">
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Improved returning employees by 40%
      </div>
      <div matListItemLine>
        Gradual increase since promotion to manager.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Led weekly presentations and meetings for 30+ IT employees
      </div>
      <div matListItemLine>
        With 97% employee satisfaction (2022 data collections).
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Resolved student, faculty, and staff software issues
      </div>
      <div matListItemLine>
        Including infrastructure repairs in a time crunch.
      </div>
    </mat-list-item>
  </mat-list>
</div>
