<div class="big-center">
  <br>
  <br>
  <div style="text-align: center">
    <h3 class="mat-headline-5">In 2022, I interned for the National Information Solutions Cooperative (NISC).</h3>
    <h3>During the summer, I...</h3>
  </div>
  <mat-list style="padding: 0">
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Improved their custom Angular 11 component library
      </div>
      <div matListItemLine>
        Now used by 55,000 professionals of $4.4 billion sales.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Built new Spring Boot endpoint functionality
      </div>
      <div matListItemLine>
       Coded from scratch in Kotlin for internal products.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Built unit and E2E tests with Mockito and Cypress
      </div>
      <div matListItemLine>
        100% code coverage in Kotlin, Java, and Angular.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Participated in an Agile environment
      </div>
      <div matListItemLine>
        Including all scrum meetings and stand-ups
      </div>
    </mat-list-item>
  </mat-list>
  <br>
  <mat-divider></mat-divider>
  <br>
  <br>
  <div style="text-align: center">
    <h3 class="mat-headline-5">At my 2021 internship, I was on Berea College's Dev Team.</h3>
    <h3>In my time there, I...</h3>
  </div>
  <mat-list style="padding: 0">
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Added the most lines of code (>4000) of any student
      </div>
      <div matListItemLine>
        Full pages and services in production, including the home page.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Provided professional Python / Flask development
      </div>
      <div matListItemLine>
        Used by 2,300+ active users at CELTS-Link.berea.edu.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Developed in-depth knowledge over MVC architecture
      </div>
      <div matListItemLine>
        Including a CS capstone on MVC web connectivity.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Was hired part-time to work through the school year
      </div>
      <div matListItemLine>
        Full time in Summer 2021; part time until graduation.
      </div>
    </mat-list-item>
  </mat-list>
  <br>
  <mat-divider></mat-divider>
  <br>
  <br>
  <div style="text-align: center">
    <h3 class="mat-headline-5">From 2019-2023, I was on the IS&S IT Help Desk.</h3>
    <h3>Including a promotion to manager, I...</h3>
  </div>
  <mat-list style="padding: 0">
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Improved returning employees by 40%
      </div>
      <div matListItemLine>
        A gradual increase since promotion to manager.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Led weekly presentations and meetings for 30+ IT employees
      </div>
      <div matListItemLine>
        With 97% employee satisfaction (2022 data collections).
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Quickly resolved student, faculty, and staff software issues
      </div>
      <div matListItemLine>
        Including infrastructure repairs in a time crunch.
      </div>
    </mat-list-item>
  </mat-list>
  <br>
  <mat-divider></mat-divider>
  <br>
  <br>
  <div style="text-align: center">
    <h3 class="mat-headline-5">...And since graduation, I'm an Ed. Tech Software Associate for BereaCorps.</h3>
    <h3>While there, I...</h3>
  </div>
  <mat-list style="padding: 0">
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Helped develop an AWS application
      </div>
      <div matListItemLine>
        Using an S3 bucket to streamline library processes.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Developed detailed CMS and LMS experience
      </div>
      <div matListItemLine>
        Especially, the open-source Moodle LMS.
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>arrow_forward_ios</mat-icon>
      <div matListItemTitle>
        Performed institution-wide Active Directory operations
      </div>
      <div matListItemLine>
        These actions affect thousands of clients.
      </div>
    </mat-list-item>
  </mat-list>
</div>
